/* Color-Pallete */
:root {
  --primary-100: rgba(0, 0, 0, 0.1);
  --primary-200: rgb(136, 136, 136);
  --primary-300: rgb(71, 70, 70);
  --primary-400: black;
  --secondary-50: rgb(221, 238, 255);
  --secondary-100: rgb(149, 202, 255);
  --secondary-200: rgb(10, 132, 255);
  --secondary-300: rgb(0, 122, 255);
  --green-50: rgb(134, 250, 151);
  --green-100: rgb(50, 215, 75);
 --green-200:rgb(13, 102, 27);
 --red-100: rgb(240, 155, 150);
  --red-400: rgb(255, 69, 58);
  --yellow-100: rgb(248, 238, 185);
  --yellow-400: rgb(235, 196, 3);
  --orange-400: rgb(255, 179, 66);
  --white: rgb(255, 255, 255);
  --white-100:rgba(255,255,255,0.05);
  --white-200:rgba(255,255,255,0.18);
  font-family: 'Montserrat', sans-serif;

  
/* sizes */
--size-08: 0.8rem;
--size-10:1.0rem;
  --size-12: 1.2rem;
  --size-14: 1.4rem;
  --size-16: 1.6rem;
  --size-18: 1.6rem;
  --size-20: 2rem;
  --size-24: 2.4rem;
  --size-28: 2.8rem;
  --size-32: 3.2rem;
  --size-40: 4rem;
/*font-weight*/
  --text-light: 300;
  --text-normal: 400;
  --text-medium: 600;
  --text-semi-bold: 700;
  --text-bold: 800;
  --text-bolder: 900;
}