/* Badge on text */

.text-badge {
    display: inline-flex;
    margin-bottom: var(--size-12);
    position: relative;
    margin-right: var(--size-20);
}

.badge-on-text {
    background-color: var(--secondary-300);
    border-radius: 10px;
    color: var(--white);
    min-height: var(--size-12);
    min-width: var(--size-12);
    padding: 2px;
    position: absolute;
    right: -5px;
    top: -10px;
}

.medium-badge {
    min-height: var(--size-12);
    min-width: 1rem;
    padding: 5px;
    right: -5px;
    top: -0.8rem;
}

.large-badge {
    min-height: var(--size-18);
    min-width: var(--size-16);
    padding: 8px;
    right: -8px;
    top: -1.2rem;
}