.button-badge {
    display: inline-block;
    position: relative;
    margin-right: var(--size-12);
}

.badge-on-button {
    background-color: var(--secondary-300);
    border-radius: 50%;
    color: var(--white);
    min-width: var(--size-12);
    padding: 4px;
    position: absolute;
    top: -9.6px;
}
.left-buttonBadge{
    left: -9.6px;
}
.right-buttonBadge{
    right: -9.6px;
}