.rating-star-icon {
    color: var(--primary-100);
}

.rating-star {
    display: none;
}

.rating-star-icon:hover {
    color: var(--secondary-300);
}

.rating-star:checked+.rating-star-icon {
    color: var(--secondary-300);
}

